<!DOCTYPE html>
<html lang="en">
<div class="topnav">
    <a href="">Home</a>
    <a class ="active" href="browse/">Browse cocktails</a>
    <a href="search/">Search</a>
    <a href="profile/">Profile</a>
</div>
<head>
    <meta charset="UTF-8">
    <title>Browse</title>
</head>
<body>


<label>Choose a ranking ID:</label>
<form method = "get" action = "">
    {% csrf_token %}
<select name = "drop1" >
                    <option value="1">IBA approved</option>
                    <option value="2">Popular</option>
                    <option value="3">Custom cocktails</option>
</select>
<input  type = "submit" value="Submit">
</form>



<br>
<br>
<br>

'list1': {{list1}}
<br>
<br>
'list2': {{list2}}
<br>
<br>
number of cocktails: {{number_of_cocktails}}
<br>
<br>
every cocktail: {{all}}
<br>
<br>
ranking_ID option is set at: {{option}}

</body>
</html>