<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cocktail Website Search</title>
</head>

<body>

<table style="width:80%">
  <tr>
    <th>Name</th>
    <th>Directions</th>
    <th>Type</th>
    <th>Ingredient 1</th>
    <th>Ingredient 2</th>
    <th>Ingredient 3</th>
    <th>Ingredient 4</th>
    <th>Ingredient 5</th>
    <th>Ingredient 6</th>
    <th>Ingredient 7</th>
    <th>Ingredient 8</th>
    <th>Ingredient 9</th>
    <th>Ingredient 10</th>
    <th>Additional notes</th>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{directions}}</td>
    <td>{{type}}</td>
    <td>{{amount1}}{{ingredient1}}</td>
    <td>{{amount2}}{{ingredient2}}</td>
    <td>{{amount3}}{{ingredient3}}</td>
    <td>{{amount4}}{{ingredient4}}</td>
    <td>{{amount5}}{{ingredient5}}</td>
    <td>{{amount6}}{{ingredient6}}</td>
    <td>{{amount7}}{{ingredient7}}</td>
    <td>{{amount8}}{{ingredient8}}</td>
    <td>{{amount9}}{{ingredient9}}</td>
    <td>{{amount10}}{{ingredient10}}</td>
    <td>{{additional_notes}}</td>
  </tr>
</table>

</body>
</html>